#OtherBookmarks {
    display: none !important;
}

#PlacesToolbarItems .bookmark-item[container] { 
   list-style-image: var(--bookmark-item-icon) !important;
}

#PlacesToolbarItems .bookmark-item .toolbarbutton-text {
   display: none !important;
}

#PlacesToolbarItems .bookmark-item[style*="background-image"] {
  background-size: 16px 16px !important; 
  background-position: center; 
  background-repeat: no-repeat; 
  fill-opacity: 0.75 !important;
} 

#PlacesToolbarItems .bookmark-item[style*="background-image"] .toolbarbutton-icon {
  display: none !important; 
}

menuitem.bookmark-item.menuitem-iconic.menuitem-with-favicon[style*="background-image"],
toolbarbutton.subviewbutton.subviewbutton-iconic.bookmark-item[style*="background-image"] {
  background-image: none !important;
}

#PersonalToolbar {
  min-height: 30px !important;
  flex: 1 0 auto !important;
  height: fit-content !important;
  max-height: none !important;
  margin-bottom: 5px !important;
  padding-right: 0 !important;
}

#zen-main-app-wrapper[zen-compact-mode="true"] #PersonalToolbar {
   flex: 0 1 auto !important;
   order: -1 !important;
}

#personal-bookmarks {
   width: 0 !important;
   height: fit-content !important;
}


#PlacesToolbarItems {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 2px;
  overflow: visible !important;
}

#PlacesToolbarItems toolbarbutton.bookmark-item:not(.subviewbutton) {
  flex: 1 1 15% !important;      
  min-width: 26px !important;  
  max-width: 100% !important;
  height: calc(var(--zen-toolbar-height) * 0.7);
  background-color: var(--button-background-color-active) !important;
  opacity: 0.8 !important;
}

#PlacesToolbarItems toolbarbutton.bookmark-item:not(.subviewbutton):hover {
  background-color: var(--button-background-color-hover) !important;
  opacity: 1 !important;
}

#PlacesToolbarItems .bookmark-item .toolbarbutton-icon {
    margin: 0 auto !important;
    opacity: 0.75 !important;
}






